{% extends 'base.html' %}
{% load static %}
{% block content %}
<ul>
    {% for parent in parents %}
        <li>
            <a href="/parent/{{parent.pk}}">
                {{parent.name}}
            </a>
        </li>
    {% endfor %}
</ul>
<div 
                            id="lhb_map" 
                            style="width:100%;height:600px;"
                            _='init js 
                                var lhb_plotly_map = {{ map|safe }}; 
                                Plotly.newPlot("lhb_map", lhb_plotly_map.data, lhb_plotly_map.layout);
                                end'></div>
{% endblock %}