{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex flex-col items-center justify-center">
    
    <div class="text-lg flex justify-center">
        <a href="{% url 'detail'  %}">{{organisation.name}}</a>
    </div>
    <div class="dropdown dropdown-hover m-5">
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <div tabindex="0" role="button" class="btn m-1">Select an organisation to match to!</div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                {% for organisation in organisations %}
                    <li>
                        <button type="submit" name="organisation_id" value="{{ organisation.pk }}" class="w-full text-left">{{ organisation.name }}</button>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>
</div>
<div id="lhb_map" >
    {% include 'map.html' with map=map  %}
</div>
{% endblock %}