# RCPCH Census Platform credentials
DOCHUB_DJANGO_SECRET=reallyverysecret

# DJANGO POSTGRES DATABASE CONNECTION
DOCHUB_POSTGRES_DB_HOST="postgis"
DOCHUB_POSTGRES_DB_NAME="dochubdb"
DOCHUB_POSTGRES_DB_PASSWORD="password"
DOCHUB_POSTGRES_DB_PORT=5432
DOCHUB_POSTGRES_DB_USER="dochubuser"

# POSTGRES SETUP
POSTGRES_DB="dochubdb"
POSTGRES_PASSWORD="password"
POSTGRES_USER="dochubuser"

# CADDY (WEB SERVER & HTTPS)
SITE_DOMAIN="dochub.localhost" # this should also be in DJANGO_ALLOWED_HOSTS and DJANGO_CSRF_TRUSTED_ORIGINS
LETSENCRYPT_EMAIL_ADDRESS="letsencrypt@example.com"
LETSENCRYPT_ENDPOINT="https://acme-staging-v02.api.letsencrypt.org/directory" # LetsEncrypt staging endpoint for testing (https://acme-staging-v02.api.letsencrypt.org/directory) so as not to hit rate limits.
TLS_SOURCE="internal" # or use "acme" for LetsEncrypt

# DJANGO
DJANGO_CSRF_TRUSTED_ORIGINS="https://localhost:8008,https://127.0.0.1,https://dochub.localhost"
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1,dochub.localhost"
DEBUG="True" # Set DEBUG=True for Local dev and Development, not Staging or Live
DJANGO_STARTUP_COMMAND="python manage.py runserver 0.0.0.0:8008" # for local development with auto-reload
# DJANGO_STARTUP_COMMAND="gunicorn --bind=0.0.0.0:8000 --timeout 600 rcpch-audit-engine.wsgi" # for live deployment

# FOR LOCAL DEVELOPMENT
LOCAL_DEV_ADMIN_EMAIL="incubator@rcpch.ac.uk"
LOCAL_DEV_ADMIN_PASSWORD="devp@ssword12345"

AUTO_LOGOUT_IDLE_TIME_SECONDS=86400 # 24 hours

ORGANISATIONS_BASE_URL = "https://rcpch-nhs-organisations.azurewebsites.net/"