{% load static %}

<aside class="sidebar">
    <div class="logo">
        <img src="{% static 'scrub-hub-logo.png' %}" alt="Shifted Logo">
        <span>SHIFTED</span>
    </div>
    <nav>
        <ul>
            <li><a href="#" class="active"><img src="{% static 'compass.png' %}" alt="Explore"> Explore</a></li>
            <li><a href="#"><img src="{% static 'handshake.png' %}" alt="Discover"> Discover</a></li>
            <li><a href="#"><img src="{% static 'squares.png' %}" alt="Detailed View"> Detailed View</a></li>
        </ul>
    </nav>
</aside>
